<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
   <add key="MigrationPlan" value="DataMigrationPlan.xml"/>
   <add key="AWSAccessKey" value="ACCESS_KEY" />
   <add key="AWSSecretAccessKey" value="SECRET_ACCESS_KEY" />
   <add key="XformRowsBatchSize" value="1000" />
   <add key="WindowsDataPlansDirectory" value="c:\DataMigration\DataSourcePlans"/>
   <add key="LinuxDataPlansDirectory" value="/PATH_TO_DATASOURCE_PLANS_WHEN_USING_MONO/"/>
   <add key="ConnectionString" value="server=SERVER_NAME;database=DATABASE_NAME;user id=USER_NAME;password=PASSWORD;Pooling=true;Max Pool Size=1000;Min Pool Size=5;Connection Timeout=5;Connection LifeTime=120;Connection Reset=false;Enlist=true;" />
 </appSettings>
</configuration>
